[submodule "force-rest-jetty-sample"]
	path = force-rest-jetty-sample
	url = https://github.com/jesperfj/force-rest-jetty-sample.git
[submodule "force-rest-api"]
	path = force-rest-api
	url = https://github.com/jesperfj/force-rest-api.git
[submodule "java-sdk"]
	path = java-sdk
	url = https://github.com/jesperfj/java-sdk.git
[submodule "maven-force-plugin"]
	path = maven-force-plugin
	url = https://github.com/jesperfj/maven-force-plugin.git
